<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Product App</title>

    <link rel="stylesheet" href="./style.css"/>

    <script defer src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script defer src="./index.js"></script>


</head>
<body>
<div class="nav-bar">
    <div id="app">
        <div class="product">
            <div class="product-image">
                <!-- //product-image -->

                <img v-bind:src="image" alt="VueM Socks"/>
            </div>
            <div class="product-info">

                <!-- //some product-info -->

                <h1>{{title}}</h1>
                <p>{{description}}</p>

                <!-- //conditional rendering(checks the stock)// -->

                <!-- Stock -->

                <h4 v-if="inStock">In stock</h4>
                <h4 v-else :class="{outOfStock:!inStock}">Out of stock </h4>

                <h4>{{sale}}</h4>

                <!-- details -->
                <h3>Details</h3>

                <ul>
                    <li v-for="d in details">{{d}}</li>
                </ul>

                <div v-for="(v,i) in variants" :key="v.variantId" class="color-box"
                     :style="{ backgroundColor: v.variantColor }" @mouseover="updateProduct(i)">


                </div>

                <button v-on:click="addToCart"
                        :disabled="!inStock"
                        :class="{disabledButton:!inStock}">Add to cart
                </button>
                <button @click="removeFromCart" :disabled="!inStock"  :class="{disabledButton:!inStock}" class="remCart">Remove from Cart</button>
                <div class="cart">
                    <button>Cart {{'(' + cart + ')'}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
